In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
%cd /content/drive/Shareddrives/Code\ Mutation

/content/drive/Shareddrives/Code Mutation

In [3]:
!ls

code2vec			f100.java_f.java.png
code2vecTesting.ipynb		input
dataset				ITAPDatasetAnalysis.ipynb
ds1798_tx_2022_0104_024027.zip	old_input
edges.txt			predicted_vectors.txt

In [4]:
!unzip ds1798_tx_2022_0104_024027.zip -d dataset

Archive:  ds1798_tx_2022_0104_024027.zip
replace dataset/ds1798_tx_All_Data_3550_2016_0908_144810.txt? [y]es, [n]o, [A]ll, [N]one, [r]ename: N

In [5]:
import pandas as pd

In [6]:
df = pd.read_table('/content/drive/Shareddrives/Code Mutation/dataset/ds1798_tx_All_Data_3550_2016_0908_144810.txt', sep="\t")

In [7]:
df.head()

   Row Sample Name  ... School Class
0    1    All Data  ...    NaN   NaN
1    2    All Data  ...    NaN   NaN
2    3    All Data  ...    NaN   NaN
3    4    All Data  ...    NaN   NaN
4    5    All Data  ...    NaN   NaN

[5 rows x 39 columns]

In [8]:
df.shape

(25498, 39)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25498 entries, 0 to 25497
Data columns (total 39 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Row                        25498 non-null  int64
 1   Sample Name                25498 non-null  object
 2   Transaction Id             25498 non-null  object
 3   Anon Student Id            25498 non-null  object
 4   Session Id                 25498 non-null  int64
 5   Time                       25498 non-null  object
 6   Time Zone                  0 non-null      float64
 7   Duration (sec)             25498 non-null  object
 8   Student Response Type      25498 non-null  object
 9   Student Response Subtype   0 non-null      float64
 10  Tutor Response Type        25498 non-null  object
 11  Tutor Response Subtype     0 non-null      float64
 12  Level (Default)            25498 non-null  object
 13  Problem Name               25498 non-null  object
 14  Problem View               25498 non-null  int64
 15  Problem Start Time         25498 non-null  object
 16  Step Name                  25498 non-null  object
 17  Attempt At Step            25498 non-null  int64
 18  Is Last Attempt            25498 non-null  int64
 19  Outcome                    25498 non-null  object
 20  Selection                  0 non-null      float64
 21  Action                     0 non-null      float64
 22  Input                      25484 non-null  object
 23  Feedback Text              10332 non-null  object
 24  Feedback Classification    0 non-null      float64
 25  Help Level                 0 non-null      float64
 26  Total Num Hints            0 non-null      float64
 27  Condition Name             25498 non-null  object
 28  Condition Type             0 non-null      float64
 29  Condition Name.1           25498 non-null  object
 30  Condition Type.1           0 non-null      float64
 31  KC (Tokens)                25498 non-null  object
 32  KC Category (Tokens)       0 non-null      float64
 33  KC (Single-KC)             25498 non-null  object
 34  KC Category (Single-KC)    0 non-null      float64
 35  KC (Unique-step)           15409 non-null  object
 36  KC Category (Unique-step)  0 non-null      float64
 37  School                     0 non-null      float64
 38  Class                      0 non-null      float64
dtypes: float64(15), int64(5), object(19)
memory usage: 7.6+ MB

In [10]:
df.nunique()

Row                          25498
Sample Name                      1
Transaction Id               25498
Anon Student Id                 89
Session Id                       1
Time                          1860
Time Zone                        0
Duration (sec)                 153
Student Response Type            2
Student Response Subtype         0
Tutor Response Type              2
Tutor Response Subtype           0
Level (Default)                  1
Problem Name                    38
Problem View                     3
Problem Start Time             767
Step Name                     1442
Attempt At Step                  1
Is Last Attempt                  1
Outcome                          3
Selection                        0
Action                           0
Input                         2633
Feedback Text                  157
Feedback Classification          0
Help Level                       0
Total Num Hints                  0
Condition Name                   4
Condition Type                   0
Condition Name.1                 3
Condition Type.1                 0
KC (Tokens)                     48
KC Category (Tokens)             0
KC (Single-KC)                   1
KC Category (Single-KC)          0
KC (Unique-step)               828
KC Category (Unique-step)        0
School                           0
Class                            0
dtype: int64

In [11]:
df['Student Response Type'].value_counts()

ATTEMPT         24308
HINT_REQUEST     1190
Name: Student Response Type, dtype: int64

In [12]:
df['Tutor Response Type'].value_counts()

RESULT      24308
HINT_MSG     1190
Name: Tutor Response Type, dtype: int64

In [13]:
df['Problem View'].value_counts()

1    23921
2     1517
3       60
Name: Problem View, dtype: int64

In [14]:
df['Outcome'].value_counts()

CORRECT      15167
INCORRECT     9141
HINT          1190
Name: Outcome, dtype: int64

In [15]:
df['Condition Name'].value_counts()

expert_class    12330
hint_second      8318
hint_first       3259
hint_all         1591
Name: Condition Name, dtype: int64

In [16]:
df['Condition Name.1'].value_counts()

novice_class    13168
hint_first       7031
hint_second      5299
Name: Condition Name.1, dtype: int64

In [17]:
df['KC (Tokens)'].value_counts()

Name                   2903
Load                   2835
Return                 2708
Number                 2036
Binary Operation       1889
Compare                 973
Add                     949
Call                    932
Store                   730
String                  726
Module                  656
Function Definition     636
Arguments               636
Modulo                  574
Assign                  471
Integer Divide          449
Parameter               448
For                     422
Power                   375
==                      353
Subscript               316
If                      310
Boolean Operation       303
Multiply                295
And                     292
Index                   276
Subtract                235
>                       229
Attribute               223
Alias                   204
Import                  204
<                       161
In                      140
Unary Operation         109
Slice                    80
While                    78
Divide                   77
Unsigned Subtract        74
>=                       68
Expression               43
Not                      35
<=                       12
List                     10
Or                        9
Tuple                     6
!=                        4
Dictionary                3
Not In                    1
Name: KC (Tokens), dtype: int64

In [18]:
df = df.drop(['Row', 'Sample Name', 'Transaction Id', 'Session Id', 'Time Zone', 'Student Response Subtype', 'Tutor Response Subtype', 'Level (Default)', 'Attempt At Step', 'Is Last Attempt', 'Selection', 'Action', 'Feedback Classification', 'Help Level', 'Total Num Hints', 'Condition Type', 'Condition Type.1', 'KC Category (Tokens)', 'KC (Single-KC)', 'KC Category (Single-KC)', 'KC Category (Unique-step)', 'School', 'Class'], axis=1)

In [19]:
df.head()

  Anon Student Id                 Time  ...       KC (Tokens) KC (Unique-step)
0            S002  2016-02-05 19:46:00  ...            Number            KC518
1            S002  2016-02-05 19:46:00  ...          Multiply            KC800
2            S002  2016-02-05 19:46:00  ...  Binary Operation            KC411
3            S002  2016-02-05 19:46:00  ...              Load            KC437
4            S002  2016-02-05 19:46:00  ...            Return            KC158

[5 rows x 16 columns]

In [20]:
df['Time'].equals(df['Problem Start Time'])

False

In [21]:
df[df['Student Response Type']=='HINT_REQUEST']['Tutor Response Type'].nunique()

1

In [22]:
df[(df['Anon Student Id']=='S057') & (df['Problem Name']=='treasureHunt')]['Input'].unique()

array(["def treasureHunt(map):\\n    for i in range(len(map)):\\n        if map[i]==x:\\n            x='treasure'\\n    return x\\n    ",
       "def treasureHunt(map):\\n    for i in range(len(map)):\\n        if map[i]=='X':\\n            'X'='treasure'\\n    return x\\n    ",
       "def treasureHunt(map):\\n    for i in range(len(map)):\\n        if map[i]=='X':\\n            map[i]='treasure'\\n    return map[i]\\n    ",
       "def treasureHunt(map):\\n    for i in range(len(map)):\\n        if map[i]=='X':\\n            map[i]='treasure'\\n        return map[i]\\n    ",
       "def treasureHunt(map):\\n    for i in range(len(map)):\\n        if map[i]=='X':\\n            map[i]='treasure'\\n            return map[i]\\n    ",
       "def treasureHunt(map):\\n    for i in range(len(map)):\\n        if map[i]=='X'\\n    return map[i]",
       "def treasureHunt(map):\\n    for i in range(len(map)):\\n        if map[i]=='X':\\n    return map[i]",
       "def treasureHunt(map):\\n    for i in range(len(map)):\\n        if map[i]=='X':\\n        return map[i]",
       "def treasureHunt(map):\\n    for i in range(len(map)):\\n        if map[i]=='X':\\n            return map[i]",
       "def treasureHunt(map):\\n    for i in range(len(map)):\\n        if map[i]=='X':\\n            map[i]='treasure'\\n        return map[i]",
       "def treasureHunt(map):\\n    for i in range(len(map)):\\n        if map[i]=='X':\\n            map[i]='treasure'\\n            return map[i]"],
      dtype=object)

In [23]:
df[(df['Anon Student Id']=='S057') & (df['Problem Name']=='treasureHunt')]

     Anon Student Id                 Time  ... KC (Tokens) KC (Unique-step)
3986            S057  2016-02-17 05:23:00  ...      Assign              NaN
3987            S057  2016-02-17 05:23:00  ...       Store              NaN
3988            S057  2016-02-17 05:23:00  ...       Index              NaN
3989            S057  2016-02-17 05:23:00  ...        Load              NaN
3990            S057  2016-02-17 05:23:00  ...        Call              NaN
...              ...                  ...  ...         ...              ...
4110            S057  2016-02-17 05:30:00  ...      Return              NaN
4111            S057  2016-02-17 05:30:00  ...   Subscript              NaN
4112            S057  2016-02-17 05:30:00  ...      String              NaN
4113            S057  2016-02-17 05:31:00  ...      Return              NaN
4114            S057  2016-02-17 05:31:00  ...      String              NaN

[129 rows x 16 columns]

In [29]:
coi = ['Step Name', 'Outcome', 'Input']
df[(df['Anon Student Id']=='S057') & (df['Problem Name']=='treasureHunt')][coi]

         Step Name  ...                                              Input
3986      Assign 1  ...  def treasureHunt(map):\n    for i in range(len...
3987       Store 1  ...  def treasureHunt(map):\n    for i in range(len...
3988       Index 1  ...  def treasureHunt(map):\n    for i in range(len...
3989        Load 1  ...  def treasureHunt(map):\n    for i in range(len...
3990        Call 1  ...  def treasureHunt(map):\n    for i in range(len...
...            ...  ...                                                ...
4110     Return 11  ...  def treasureHunt(map):\n    for i in range(len...
4111  Subscript 11  ...  def treasureHunt(map):\n    for i in range(len...
4112     String 11  ...  def treasureHunt(map):\n    for i in range(len...
4113     Return 12  ...  def treasureHunt(map):\n    for i in range(len...
4114     String 12  ...  def treasureHunt(map):\n    for i in range(len...

[129 rows x 3 columns]

In [31]:
df['Input'].nunique()

2633